<!doctype html>
<html ng-app='adminPanel'>
<head>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">
  <script src="bower_components/hammerjs/hammer.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script> 
  <script src="js/appController.js"></script>
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body ng-controller="adminCtrl">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <md-button ng-href="#">
        <md-icon icon="images/ic_home_white_48dp.png"></md-icon>
      </md-button>
      <h1 style="font-size: 46px;"> {{title}} </h1>
    </div>
  </md-toolbar>

  <!-- Grid for Dash -->
  <md-content>
    <div ng-repeat="app in apps">
      <md-card ng-click="showDialog($event, app)" style="height:12em;">
      <div layout="row">
        <div>
          <img src = "{{app.icon}}" style="width: 10em;"></img>
        </div>
        <div flex >
          <div layout="column">
            <div class="app-title">
          {{app.name}} 
        </div>
        <div class="app-category">
          {{app.category}}
        </div>
        </div>
      </div>
      </md-card>
    </div>
  </md-content>
</html>
